<!-- View kitten details-->
<h1><%= @kitten.name %></h1>
<p>Age: <%= @kitten.age %></p>
<p>Cuteness: <%= @kitten.cuteness %></p>
<p>Softness: <%= @kitten.softness %></p>

<!-- Create new kittens-->
<%= button_to "Edit", edit_kitten_path(@kitten), method: :get %>

<!-- Delete kitten button -->
<%= button_to "Delete", kitten_path(@kitten), method: :delete %>



